@tailwind base;
@tailwind components;
@tailwind utilities;

$body-color: red;

body {
  display: grid;
  min-height: 100vh;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

.header-btn {
  @apply flex dark:border-indigo-500 dark:text-indigo-500 dark:hover:bg-indigo-500 dark:hover:text-white transition-all duration-300 ml-2 py-1 px-3 border-2 rounded-full border-indigo-600 text-indigo-600 hover:text-white hover:bg-indigo-800 focus:outline-none focus:ring focus:ring-violet-300
}
